<!-- @thymesVar id="event" type="pt.unl.fct.iadi.novaevents.controller.dto.CreateEventRequest" -->
<!-- @thymesVar id="clubId" type="java.lang.Long" -->
<!-- @thymesVar id="eventId" type="java.lang.Long" -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
</head>
<body>

<h1> Create Event</h1>

<form th:action="@{/clubs/{clubId}/events/{eventId}(clubId=${clubId}, eventId=${eventId})}"
      th:object="${event}"
      method="post">

    <input type="hidden" name="_method" value="put"/>

    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    <div>
        <label for="date">Date:</label>
        <input id="date" type="date" th:field="*{date}" />
        <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
    </div>

    <div>
        <label for="type">Type:</label>
        <select id="type" th:field="*{typeId}">
            <option th:each="t : ${types}"
                    th:value="${t.id}"
                    th:text="${t.name}">
            </option>
        </select>
        <div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}"></div>
    </div>

    <div>
        <label for="location">Location:</label>
        <input id="location" type="text" th:field="*{location}" />
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" th:field="*{description}"></textarea>
    </div>

    <button type="submit">Create</button>
</form>
</body>
</html>